<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; object-src 'none';">

    <link rel="stylesheet" href="../assets/styles/base.css">
    <link rel="stylesheet" href="../assets/styles/SignIn.css">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <title>remote destop</title>
</head>

<body>
    <div id="root" class="grid"></div>

    <script type="module" src="../js/App.js"></script>
</body>
</html>