<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://cdn.icon-icons.com https://img.meta.com.vn; script-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">

    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/normalize.css">
    <link rel="stylesheet" href="../assets/styles/base.css">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/SignIn.css">
    <link rel="stylesheet" href="../assets/styles/homepage.css">
    <link rel="stylesheet" href="../assets/styles/adminSetting.css">
    <link rel="stylesheet" href="../assets/styles/settings.css">
    <title>remote desktop</title>
</head>

<body>
    <div id="root"></div>
    <!--/. End modal đổi tên 1-->
    <script type="module" src="../js/App.js"></script>
   
</body>
</html>